@font-face{font-family:OpenSans;src:url(OpenSans-Bold.ttf)}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    font-size: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}


.principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #E2E2E2;
    width: 25%;
    height: 250px;
    text-align: center;
    margin-top: 15%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 40px;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    max-width: 100%;

}
.tempo{
    font-family:'OpenSans';
    font-size: 125%;
}
.btn{
    border:none;
    font-size: 100%;
    padding: 15px;
    border-radius: 5px;
    font-family:'OpenSans';
    color: white;

}

@media (max-width: 1000px) {
    .principal{
        width: 60%;
        margin-top: 65%;
        min-width: 300px;
    }
    .btn{
        font-size: 80%;
    }
    .tempo{
        margin-top: 20%;
    }
}
